body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.d-inline .alert {
  display: inline;
  text-align: center;
}

.loader {
  width: 100%;
  height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.alert-container .alert {
  width: 100%;
}

main {
  min-height: 88.7vh;
}

.product {
  color: #000;
}

.product a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.notfound {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 50vh;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.notfound h2 {
  color: rgb(255 0 0 / 70%);
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.searchForm input {
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  min-width: 250px;
}

.searchForm button {
  padding: 10px;
  width: 40px;
}
